* {
   font-family: sans-serif;
   padding: 10px;
}

h1 {
   background-color: black;
   color: white;
}

h1 > span {
   padding: 0;
   margin: 0;
   color: turquoise;
}

h2 {
   color: white;
   background-color: rebeccapurple;
   text-align: center;
}

h3 {
   text-decoration: underline;
   background-color: lightsteelblue;
   text-align: end;
}

